@{
    Layout = "_LayoutBase";
}

<div class="container">
    @*<vc:bread-crumbs/>*@
    @await Component.InvokeAsync("BreadCrumbs");

    @RenderBody()
</div>


@section Styles
{
    @RenderSection("Styles", false)
}

@section Scripts
{
    @RenderSection("Scripts", false)
}
